In [1]:
import pandas as pd

In [17]:
df = pd.read_pickle("../ascensor1.pkl")
df

,box,width,height,id,gender,age,position_x,position_y,last_pos_time,confidence,embedding_norm
0,"[928, 234, 982, 296]",54.0,62.0,1.0,F,47.0,955.0,265.0,1.635439e+09,0.70,16.600000
1,"[937, 241, 988, 304]",51.0,63.0,1.0,M,53.0,962.5,272.5,1.635439e+09,0.60,17.610001
2,"[952, 239, 1000, 317]",48.0,78.0,1.0,F,43.0,976.0,278.0,1.635439e+09,0.74,16.770000
3,"[933, 247, 995, 324]",62.0,77.0,1.0,F,45.0,964.0,285.5,1.635439e+09,0.79,18.500000
4,"[913, 255, 972, 332]",59.0,77.0,1.0,F,43.0,942.5,293.5,1.635439e+09,0.74,17.969999
...,...,...,...,...,...,...,...,...,...,...,...
258,"[89, 229, 137, 289]",48.0,60.0,1.0,M,44.0,113.0,259.0,1.635439e+09,0.54,16.180000
259,"[119, 204, 166, 249]",47.0,45.0,1.0,M,42.0,142.5,226.5,1.635439e+09,0.58,16.059999
260,"[123, 203, 167, 246]",44.0,43.0,1.0,M,40.0,145.0,224.5,1.635439e+09,0.56,16.170000
261,"[31, 227, 81, 297]",50.0,70.0,16.0,F,35.0,56.0,262.0,1.635439e+09,0.51,16.080000
262,"[121, 203, 166, 253]",45.0,50.0,1.0,M,48.0,143.5,228.0,1.635439e+09,0.59,16.700001

In [14]:
df.dtypes

box                object
width             float64
height            float64
id                float64
gender             object
age               float64
position_x        float64
position_y        float64
last_pos_time     float64
confidence        float32
embedding_norm    float32
dtype: object

In [18]:
#dfID = df.groupby(['id','gender']).count()
#dfID = df.sort_values(by=['embedding_norm']) 
dfID = df.sort_values(['embedding_norm'],ascending=False).groupby('id').head(1)

In [5]:
dfID

NameError: name 'dfID' is not defined

In [19]:
len(dfID)

16

In [20]:
sex = dfID['gender'].value_counts()

In [21]:
(sex)['F']

7